<div class="row dynamicDateWidth">
    <div class="col-lg-6">
        <div class="gap">
            <div class="row">
                <div class="col-sm-6">{{peContainer editors.regNumber columnsRatio="6:6"}}</div>
                <div class="col-sm-6">{{peContainer editors.identifier columnsRatio="5:7"}}</div>
            </div>
            <div class="row">
                <div class="col-sm-6">{{peContainer editors.regDateFrom columnsRatio="6:6"}}</div>
                <div class="col-sm-6">{{peContainer editors.regDateTo columnsRatio="5:7"}}</div>
            </div>
            {{peContainer editors.summary columnsRatio="3:9"}}
            {{peContainer editors.status columnsRatio="3:9"}}
            {{peContainer editors.organization columnsRatio="3:9"}}
        </div>
    </div>
    <div class="col-lg-6">
        {{peContainer editors.correspondentExternal columnsRatio="3:9"}}
        {{peContainer editors.envelopeNumber columnsRatio="3:9"}}
        {{peContainer editors.referenceNumber columnsRatio="3:9"}}
        {{peContainer editors.nomenclatureCase columnsRatio="3:9"}}
    </div>
</div>