<div class="row" style="padding: 0px 0px;">
    <div class="col-lg-6" style="padding-left:30px;padding-right:50px;">
        {{peContainer editors.performer}}
        {{peContainer editors.principal}}
        {{peContainer editors.registrator}}
        {{peContainer editors.confidant}}
    </div>
    <div class="col-lg-6" style="padding-left:30px;padding-right:50px;">
        {{peContainer editors.notarizationRequired}}
        {{peContainer editors.startDate}}
        {{peContainer editors.period}}
        {{peContainer editors.sheetsAmount}}
    </div>
</div>


