<div class="row dynamicDateWidth">
    <div class="col-lg-6">
        <div class="gap">
            <div class="row">
                <div class="col-sm-6">{{peContainer editors.regNumber columnsRatio="4:8"}}</div>
                <div class="col-sm-6">{{peContainer editors.identifier columnsRatio="4:8"}}</div>
            </div>
            {{peContainer editors.summary columnsRatio="2:10"}}
            {{peContainer editors.status columnsRatio="2:10"}}
            {{peContainer editors.performer columnsRatio="2:10"}}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-sm-6">{{peContainer editors.regDateFrom columnsRatio="4:8"}}</div>
            <div class="col-sm-6">{{peContainer editors.regDateTo columnsRatio="1:11"}}</div>
        </div>
        <div class="row">
            <div class="col-sm-6">{{peContainer editors.createdFrom columnsRatio="4:8"}}</div>
            <div class="col-sm-6">{{peContainer editors.createdTo columnsRatio="1:11"}}</div>
        </div>
        {{peContainer editors.correspondent columnsRatio="2:10"}}
        {{peContainer editors.nomenclatureCase columnsRatio="2:10"}}
    </div>
</div>