<div class="row">
    <div class="col-lg-5">
        <div class="not-null-without-star">
            {{peContainer editors.[document.author]}}
        </div>
        {{peContainer editors.[document.organization]}}
        <div class="not-null-without-star">
            {{peContainer editors.[document.documentType]}}
        </div>
        {{peContainer editors.[document.documentKind]}}
        {{peContainer editors.[document.summary]}}
        {{peContainer editors.[document.cost]}}
        {{peContainer editors.[document.currency]}}
        {{peContainer editors.[document.costRub]}}
        {{peContainer editors.[document.settlementType]}}
        {{peContainer editors.[document.determiningCost]}}
        {{peContainer editors.[document.conditionIntoForce]}}
        {{peContainer editors.[document.contractState]}}
    </div>

    <div class="col-lg-2">
    </div>

    <div class="col-lg-5">
        {{peContainer editors.[document.createdBasedOn]}}
        <div class="row">
            <div class="col-xs-6 not-null-without-star">
                {{peContainer editors.[document.preparedByContractor] columnsRatio="8:4"}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 not-null-without-star">
                {{peContainer editors.[document.urgent] columnsRatio="8:4"}}
            </div>
            <div class="col-xs-6 not-null-without-star">
                {{peContainer editors.[document.protocolDisagreements] columnsRatio="8:4"}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 not-null-without-star">
                {{peContainer editors.[document.paper] columnsRatio="8:4"}}
            </div>
            <div class="col-xs-6 not-null-without-star">
                {{peContainer editors.[document.protocolApproveDisagreements] columnsRatio="8:4"}}
            </div>
        </div>
        {{peContainer editors.[document.curator]}}
        {{peContainer editors.[document.performer]}}
        {{peContainer editors.[document.signatory]}}
        {{peContainer editors.[document.warrantName]}}
        {{peContainer editors.[document.signingDate]}}
        {{peContainer editors.[document.agreementDate]}}
        {{peContainer editors.[document.durationFromDate]}}
        {{peContainer editors.[document.durationToDate]}}
        {{peContainer editors.[document.completedDate]}}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        {{peContainer editors.[document.contractors]}}
    </div>
</div>

<div class="row">
    <div class="col-lg-5">
        {{peContainer editors.[document.nomenclatureCase]}}
        {{peContainer editors.[document.sheetsAmount]}}
        {{peContainer editors.[document.annexSheetsAmount]}}
        {{peContainer editors.[document.notes]}}
        {{peContainer editors.[document.terminationDate]}}
        {{peContainer editors.[document.terminationReason]}}
        <div class="not-null-without-star">
            {{peContainer editors.[document.permission]}}
        </div>
    </div>

    <div class="col-lg-2">
    </div>

    <div class="col-lg-5">
        <div class="row">
            <div class="col-xs-6 not-null-without-star">
                {{peContainer editors.[document.dealWithInterest] columnsRatio="8:4"}}
            </div>
            <div class="col-xs-6 not-null-without-star">
                {{peContainer editors.[document.propertyTransfer] columnsRatio="8:4"}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 not-null-without-star">
                {{peContainer editors.[document.greatlyDeal] columnsRatio="8:4"}}
            </div>
            <div class="col-xs-6 not-null-without-star">
                {{peContainer editors.[document.officialRegistration] columnsRatio="8:4"}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 not-null-without-star">
                {{peContainer editors.[document.bigDeal] columnsRatio="8:4"}}
            </div>
        </div>
        <div class="not-null-without-star">
            {{peContainer editors.[document.identifier]}}
        </div>
        <div class="not-null-without-star">
            {{peContainer editors.[document.status]}}
        </div>
        <div class="not-null-without-star">
            {{peContainer editors.[document.creationDate]}}
        </div>
        {{peContainer editors.[document.registrator]}}
        {{peContainer editors.[document.regNumber]}}
        {{peContainer editors.[document.regDate]}}
    </div>
</div>
