<div class="row" style="padding: 0px 0px;">
    <div class="col-lg-6" style="padding-left:30px;padding-right:50px;">
        {{peContainer editors.referenceNumber}}
        {{peContainer editors.incomingDate}}
        {{peContainer editors.identifier}}
        {{peContainer editors.organization}}
        {{peContainer editors.permission}}
    </div>
    <div class="col-lg-6" style="padding-left:30px;padding-right:50px;">
        {{peContainer editors.summary}}
        {{peContainer editors.sheetsAmount}}
        {{peContainer editors.annexSheetsAmount}}
        {{peContainer editors.nomenclatureCase}}
    </div>
</div>
<div class="row" style="padding: 0px 30px;">
    <div class="starred-label">
        {{peContainer editors.attachment}}
    </div>
</div>

