<div class="row" style="padding: 0px 0px;">
    <div class="col-lg-6" style="padding-left:30px;padding-right:50px;">
        {{peContainer editors.documentKind}}
        {{peContainer editors.incomingDate}}
        {{peContainer editors.deliveryOption}}
        {{peContainer editors.referenceNumber}}
        {{peContainer editors.referenceDate}}
        {{peContainer editors.correspondentExternal}}
        {{peContainer editors.signedByExternal}}
        {{peContainer editors.permission}}
    </div>
    <div class="col-lg-6" style="padding-left:30px;padding-right:50px;">
        {{peContainer editors.organization}}
        {{peContainer editors.summary}}
        {{peContainer editors.regNumber}}
        {{peContainer editors.regDate}}
        {{peContainer editors.sheetsAmount}}
        {{peContainer editors.annexSheetsAmount}}
        {{peContainer editors.reviewDeadlineDate}}
        {{peContainer editors.envelopeNumber}}
        {{peContainer editors.nomenclatureCase}}
    </div>
</div>
<div class="row" style="padding: 0px 30px;">
    <div class="starred-label">
        {{peContainer editors.addressees}}
        {{peContainer editors.attachment}}
    </div>
</div>

