<div class="row">
    <div class="col-lg-6">
	    {{peContainer editors.organization}}
	    {{peContainer editors.documentKind}}
	    <div class="row">
	        <div class="col-md-6">{{peContainer editors.regNumber columnsRatio="8:4"}}</div>
	        <div class="col-md-6">{{peContainer editors.regDate columnsRatio="2:10"}}</div>
	    </div>
	    {{peContainer editors.identifier}}
	    {{peContainer editors.creationDate}}
	    {{peContainer editors.status}}
    </div>
    <div class="col-lg-6">
        {{peContainer editors.urgent}}
        {{peContainer editors.paper}}
        {{peContainer editors.permission}}
        {{peContainer editors.author}}
        {{peContainer editors.performer}}
        {{peContainer editors.registrator}}
        {{peContainer editors.signatory}}
        {{peContainer editors.nomenclatureCase}}
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        {{peContainer editors.addressees}}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
	    {{peContainer editors.summary}}
	    {{peContainer editors.sheetsAmount}}
	    {{peContainer editors.annexSheetsAmount}}
    </div>
    <div class="col-lg-6">
    </div>
</div>