<style>
    .x-pe-container-without-padding .x-pe-container {
        padding: 0 !important;
    }
</style>

<div class="row x-pe-container-without-padding">
    {{#if-not editor.presenter.options.hideMenu}}
        {{#if-menu editor.topMenu}}
            <div class="x-editor-tab-content row hide-lg" style="margin: 0px">
                <div class="x-editor-menu-container x-menu-bar">
                    {{#if-menu editor.topMenuSwitch}}
                        {{view class="ui.MenuPresenter" viewModel=editor.topMenuSwitch tag="div"
                               cssClass="x-editor-menu hide-lg" dropup=true}}
                    {{/if-menu}}
                </div>
            </div>
        {{/if-menu}}
    {{/if-not}}
    <div class="col-lg-4 cmf-task">
        <div id="task-affix" style="padding: 0px 30px; box-shadow: none">
            <div class="row x-pe-container">
                <label class="x-pe-label">{{viewModel.meta.props.comment.descr}}</label>
                {{pe name="comment" viewModel=viewModel tag="div"}}
            </div>
            <div class="row x-pe-container">
                <label class="x-pe-label">{{viewModel.meta.model.entities.ContractDocument.props.summary.descr}}</label>
                <div>
                    {{pe name="summary" viewModel=viewModel.approver.queue.iteration.document tag="div" readOnly=true}}
                </div>
            </div>
            <div class="row x-pe-container">
                <label class="col-sm-4 x-pe-label">{{viewModel.meta.model.entities.ContractDocument.props.documentType.descr}}</label>
                <div class="col-sm-8">
                    {{pe name="documentType" viewModel=viewModel.approver.queue.iteration.document tag="div"
                         readOnly=true}}
                </div>
            </div>
            <div class="row x-pe-container">
                <label class="col-sm-4 x-pe-label">{{viewModel.meta.model.entities.ContractDocument.props.documentKind.descr}}</label>
                <div class="col-sm-8">
                    {{pe name="documentKind" viewModel=viewModel.approver.queue.iteration.document tag="div"
                         readOnly=true}}
                </div>
            </div>
            <div class="row x-pe-container">
                <label class="col-sm-4 x-pe-label">{{viewModel.meta.model.entities.ContractDocument.props.performer.descr}}</label>
                <div class="col-sm-8">
                    <div style="float:left;">{{pe name="performer" viewModel=viewModel.approver.queue.iteration.document
                                                  tag="div"
                                                  readOnly=true}}
                    </div>
                </div>
            </div>
            <div class="row x-pe-container">
                <label class="col-sm-4 x-pe-label">{{viewModel.meta.model.entities.ContractDocument.props.curator.descr}}</label>
                <div class="col-sm-8">
                    <div style="float:left;">{{pe name="curator" viewModel=viewModel.approver.queue.iteration.document
                                                  tag="div"
                                                  readOnly=true}}
                    </div>
                </div>
            </div>
            <div class="row x-pe-container">
                <label class="col-sm-4 x-pe-label">{{viewModel.meta.model.entities.ContractDocument.props.cost.descr}}</label>
                <div class="col-sm-8">
                    <div style="float:left;">{{pe name="cost" viewModel=viewModel.approver.queue.iteration.document
                                                  tag="div"
                                                  readOnly=true}}
                    </div>
                </div>
            </div>
            <div class="row x-pe-container">
                <label class="col-sm-4 x-pe-label">{{viewModel.meta.model.entities.ContractDocument.props.currency.descr}}</label>
                <div class="col-sm-8">
                    <div style="float:left;">{{pe name="currency" viewModel=viewModel.approver.queue.iteration.document
                                                  tag="div"
                                                  readOnly=true}}
                    </div>
                </div>
            </div>
            <div class="row x-pe-container">
                <label class="col-sm-4 x-pe-label">{{format 'part.task.contract.durationDatesInterval'
                                                            formatter=editor.options.['resourcesFormatter']}}</label>
                <div class="col-sm-8">
                    <div class="row x-pe-container">
                        <div class="col-xs-3">
                            {{pe name="durationFromDate"
                                 viewModel=viewModel.approver.queue.iteration.document
                                 tag="div"
                                 readOnly=true}}
                        </div>
                        <div class="col-xs-1 ">
                            {{#if (or viewModel.approver.queue.iteration.document.durationFromDate
                                          or viewModel.approver.queue.iteration.document.durationToDate)}}
                                <div class="x-pe-viewonly">
                                    -
                                </div>
                            {{/if}}
                        </div>
                        <div class="col-xs-3" style="padding-left: 0px;">
                            {{pe name="durationToDate"
                                 viewModel=viewModel.approver.queue.iteration.document
                                 tag="div"
                                 readOnly=true}}
                        </div>
                        <div class="col-xs-5">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row x-pe-container">
                <label class="col-sm-4 x-pe-label">{{viewModel.meta.model.entities.ContractDocument.props.organization.descr}}</label>
                <div class="col-sm-8">
                    <div style="float:left;">{{pe name="organization"
                                                  viewModel=viewModel.approver.queue.iteration.document
                                                  tag="div"
                                                  readOnly=true}}
                    </div>
                </div>
            </div>
            <div class="row x-pe-container">
                <label class="col-sm-4 x-pe-label">{{viewModel.meta.model.entities.ContractDocument.props.contractors.descr}}</label>
                <div class="col-sm-8">
                    {{pe name="contractors" viewModel=viewModel.approver.queue.iteration.document tag="div"
                         navigable=true}}
                </div>
            </div>
            <div class="row x-pe-container">
                <label class="col-sm-4 x-pe-label">{{viewModel.meta.model.entities.ContractDocument.props.dealWithInterest.descr}}</label>
                <div class="col-sm-8">
                    <div style="float:left;">{{pe name="dealWithInterest"
                                                  viewModel=viewModel.approver.queue.iteration.document
                                                  tag="div"
                                                  readOnly=true}}
                    </div>
                </div>
            </div>
            <div class="row x-pe-container">
                <label class="col-sm-4 x-pe-label">{{viewModel.meta.model.entities.ContractDocument.props.greatlyDeal.descr}}</label>
                <div class="col-sm-8">
                    <div style="float:left;">{{pe name="greatlyDeal"
                                                  viewModel=viewModel.approver.queue.iteration.document
                                                  tag="div"
                                                  readOnly=true}}
                    </div>
                </div>
            </div>
            <div class="row x-pe-container">
                <label class="col-sm-4 x-pe-label">{{viewModel.meta.model.entities.ContractDocument.props.bigDeal.descr}}</label>
                <div class="col-sm-8">
                    <div style="float:left;">{{pe name="bigDeal" viewModel=viewModel.approver.queue.iteration.document
                                                  tag="div"
                                                  readOnly=true}}
                    </div>
                </div>
            </div>
            <div class="row x-pe-container">
                <label class="col-sm-4 x-pe-label">{{viewModel.meta.model.entities.ContractDocument.props.protocolDisagreements.descr}}</label>
                <div class="col-sm-8">
                    <div style="float:left;">{{pe name="protocolDisagreements"
                                                  viewModel=viewModel.approver.queue.iteration.document
                                                  tag="div"
                                                  readOnly=true}}
                    </div>
                </div>
            </div>
            <div class="row x-pe-container">
                <label class="col-sm-4 x-pe-label">{{viewModel.meta.model.entities.ContractDocument.props.protocolApproveDisagreements.descr}}</label>
                <div class="col-sm-8">
                    <div style="float:left;">{{pe name="protocolApproveDisagreements"
                                                  viewModel=viewModel.approver.queue.iteration.document
                                                  tag="div"
                                                  readOnly=true}}
                    </div>
                </div>
            </div>

            <div class="row">
                <a href="#" {{command-bind editor.commands.ShowCurrentApproval object=this}}> {{format
                        'part.task.current.approval' formatter=editor.options.['resourcesFormatter']}}</a>
            </div>
        </div>
    </div>
    <div class="col-lg-8 cmf-document command-hide" style="padding:0px;">
        {{render previewComponent}}
    </div>

</div>

