<div class="row">
    <div class="col-lg-5">
        {{peContainer editors.organization}}
        <div class="not-null-without-star">
            {{peContainer editors.documentType}}
        </div>
        {{peContainer editors.documentKind}}
        {{peContainer editors.summary}}
        {{peContainer editors.cost}}
        {{peContainer editors.currency}}
        {{peContainer editors.costRub}}
        {{peContainer editors.settlementType}}
        {{peContainer editors.determiningCost}}
        {{peContainer editors.conditionIntoForce}}
        {{peContainer editors.contractState}}
    </div>

    <div class="col-lg-2">
    </div>

    <div class="col-lg-5">
        {{peContainer editors.createdBasedOn}}
        <div class="row">
            <div class="col-xs-6 not-null-without-star">
                {{peContainer editors.preparedByContractor columnsRatio="8:4"}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 not-null-without-star">
                {{peContainer editors.urgent columnsRatio="8:4"}}
            </div>
            <div class="col-xs-6 not-null-without-star">
                {{peContainer editors.protocolDisagreements columnsRatio="8:4"}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 not-null-without-star">
                {{peContainer editors.paper columnsRatio="8:4"}}
            </div>
            <div class="col-xs-6 not-null-without-star">
                {{peContainer editors.protocolApproveDisagreements columnsRatio="8:4"}}
            </div>
        </div>
        {{peContainer editors.curator}}
        {{peContainer editors.performer}}
        {{peContainer editors.signatory}}
        {{peContainer editors.warrantName}}
        {{peContainer editors.signingDate}}
        {{peContainer editors.agreementDate}}
        {{peContainer editors.durationFromDate}}
        {{peContainer editors.durationToDate}}
        {{peContainer editors.completedDate}}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        {{peContainer editors.contractors}}
    </div>
</div>

<div class="row">
    <div class="col-lg-5">
        {{peContainer editors.nomenclatureCase}}
        {{peContainer editors.sheetsAmount}}
        {{peContainer editors.annexSheetsAmount}}
        {{peContainer editors.notes}}
        {{peContainer editors.terminationDate}}
        {{peContainer editors.terminationReason}}
        <div class="not-null-without-star">
            {{peContainer editors.permission}}
        </div>
    </div>

    <div class="col-lg-2">
    </div>

    <div class="col-lg-5">
        <div class="row">
            <div class="col-xs-6 not-null-without-star">
                {{peContainer editors.dealWithInterest columnsRatio="8:4"}}
            </div>
            <div class="col-xs-6 not-null-without-star">
                {{peContainer editors.propertyTransfer columnsRatio="8:4"}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 not-null-without-star">
                {{peContainer editors.greatlyDeal columnsRatio="8:4"}}
            </div>
            <div class="col-xs-6 not-null-without-star">
                {{peContainer editors.officialRegistration columnsRatio="8:4"}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 not-null-without-star">
                {{peContainer editors.bigDeal columnsRatio="8:4"}}
            </div>
        </div>
        <div class="not-null-without-star">
            {{peContainer editors.identifier}}
        </div>
        <div class="not-null-without-star">
            {{peContainer editors.status}}
        </div>
        <div class="not-null-without-star">
            {{peContainer editors.creationDate}}
        </div>
        {{peContainer editors.registrator}}
        {{peContainer editors.regNumber}}
        {{peContainer editors.regDate}}
    </div>
</div>
